<%- include("header") -%>

<h2 class="box" id="heading">
    About
</h2>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis officia dolore temporibus nobis non vero nesciunt natus possimus iste modi.
</p>

<%- include("footer") -%>